---
# yaml-language-server: $schema=https://raw.githubusercontent.com/fluxcd-community/flux2-schemas/main/helmrelease-helm-v2.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &name prometheus-pushgateway
  namespace: &namespace monitor
spec:
  interval: 30m
  chart:
    spec:
      chart: prometheus-pushgateway
      version: 3.6.0
      sourceRef:
        kind: HelmRepository
        name: prometheus-community
        namespace: flux-system
  values:
    serviceMonitor:
      enabled: true
      interval: 30s
      namespace: *namespace
    service:
      annotations: {}
