---
  # yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s-labs/helm-charts/refs/tags/app-template-3.7.3/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
  apiVersion: helm.toolkit.fluxcd.io/v2
  kind: HelmRelease
  metadata:
    name: &app nextcloud
  spec:
    interval: 15m
    chartRef:
      kind: OCIRepository
      name: app-template
    install:
      remediation:
        retries: 3
    upgrade:
      cleanupOnFail: true
      remediation:
        retries: 3
    values:
      controllers:
        main:

          # # Copy files from docker host
          # initContainers:
          #   copy-import:
          #     image:
          #       repository: busybox
          #       tag: latest
          #     command:
          #       - sh
          #       - -c
          #       - |
          #         echo "Copying files from /import to /config..."
          #         # rm -rf /config/*
          #         cp -rv /import/. /config/

          strategy: Recreate
          containers:
            main:
              image:
                repository: lscr.io/linuxserver/nextcloud
                tag: 31.0.5
                pullPolicy: IfNotPresent
              env:
                TZ: ${CONFIG_TIMEZONE}
                PUID: 99
                PGID: 100
                UMASK: "0022"

      service:
        main:
          controller: main
          ports:
            http:
              port: 443

      ingress:
        main:
          enabled: true
          className: external
          annotations:
            external-dns.alpha.kubernetes.io/target: "external.${SECRET_DOMAIN}"
            error-pages.home.arpa/enabled: "true"
            gethomepage.dev/app: *app
            gethomepage.dev/enabled: "true"
            gethomepage.dev/name: "nextcloud"
            gethomepage.dev/description: "Personal Cloud Storage"
            gethomepage.dev/href: "https://cloud.${SECRET_DOMAIN}"
            gethomepage.dev/group: "Office"
            gethomepage.dev/icon: "nextcloud.png"
            # gethomepage.dev/widget.type: "nextcloud"
            # gethomepage.dev/widget.url: "http://cloud.${SECRET_DOMAIN}"
            # gethomepage.dev/widget.key: "${HOMEPAGE_VAR_NEXTCLOUD_KEY}"
            # gethomepage.dev/siteMonitor: https://zeus.nas.home.internal:4443
            nginx.ingress.kubernetes.io/secure-backends: "false"
            nginx.ingress.kubernetes.io/backend-protocol: "HTTPS"
            nginx.ingress.kubernetes.io/ssl-verify: "false"

          hosts:
            - host: &host "cloud.${SECRET_DOMAIN}"
              paths:
                - path: /
                  pathType: Prefix
                  service:
                    identifier: main
                    port: http
          tls:
            - hosts:
                - *host
              secretName: "${SECRET_DOMAIN/./-}-production-tls"

      persistence:
        config:
          existingClaim: nextcloud
          globalMounts:
            - path: /config

        data:
          enabled: true
          type: nfs
          server: zeus.nas.home.internal
          path: /mnt/user/NextCloud

        # # Copy files from docker host
        # import:
        #   enabled: true
        #   type: nfs
        #   server: zeus.nas.home.internal
        #   path: /mnt/user/appdata/nextcloud
