---
# yaml-language-server: $schema=https://raw.githubusercontent.com/fluxcd-community/flux2-schemas/main/helmrepository-source-v1.json
apiVersion: source.toolkit.fluxcd.io/v1
kind: HelmRepository
metadata:
  name: stevehipwell
  namespace: monitor
spec:
  type: oci
  url: oci://ghcr.io/stevehipwell/helm-charts
  interval: 1h
  timeout: 3m
---
# yaml-language-server: $schema=https://raw.githubusercontent.com/fluxcd-community/flux2-schemas/main/helmrelease-helm-v2.json
#
# TODO: Add reloader for external-secrets
#         annotations:
#           secret.reloader.stakater.com/reload: &secret thanos-objectstore-secret
#
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: thanos
spec:
  chart:
    spec:
      chart: thanos
      version: 1.23.0
      sourceRef:
        kind: HelmRepository
        name: stevehipwell
        namespace: monitor
  # dependsOn:
  #   - name: kube-prometheus-stack
  interval: 30m
  maxHistory: 3
  uninstall:
    keepHistory: false
  values:
    storeGateway:
      persistence:
        enabled: true
        storageClass: ceph-block
        size: 10Gi
    objstoreConfig:
      create: false
      name: thanos-objectstore-secret
      key: objstore.yaml
    additionalEndpoints:
      - dnssrv+_grpc._tcp.kube-prometheus-stack-thanos-discovery.monitor.svc.cluster.local
    additionalReplicaLabels: ["__replica__"]
    serviceMonitor:
      enabled: true
    compact:
      enabled: true
      extraArgs:
        - --compact.concurrency=4
        - --delete-delay=30m
        - --retention.resolution-raw=30d
        - --downsampling.disable
      persistence:
        enabled: true
        storageClass: ceph-block
        size: 15Gi
    query:
      extraArgs:
        - "--alert.query-url=http://thanos.${SECRET_DOMAIN}"
    queryFrontend:
      enabled: true
      ingress:
        enabled: true
        ingressClassName: internal
        annotations:
          error-pages.home.arpa/enabled: "true"
          authentik.home.arpa/enabled: "true"
          gethomepage.dev/app: "thanos"
          gethomepage.dev/enabled: "true"
          gethomepage.dev/name: "Thanos"
          gethomepage.dev/description: "A highly available, long-term storage and querying system for Prometheus metrics"
          gethomepage.dev/href: "https://thanos.${SECRET_DOMAIN}"
          gethomepage.dev/group: "Kubernetes"
          gethomepage.dev/icon: "si-thanos"
        hosts:
          - &host "thanos.${SECRET_DOMAIN}"
        tls:
          - hosts:
              - *host
            secretName: "${SECRET_DOMAIN/./-}-production-tls"

    # rule:
    #   enabled: true
    #   extraArgs: ["--web.prefix-header=X-Forwarded-Prefix"]
    #   alertmanagersConfig:
    #     value: |-
    #       alertmanagers:
    #         - api_version: v2
    #           static_configs:
    #             - dnssrv+_http-web._tcp.kube-prometheus-stack-alertmanager.monitor.svc.cluster.local
    #   rules:
    #     value: |-
    #       groups:
    #         - name: PrometheusWatcher
    #           rules:
    #             - alert: PrometheusDown
    #               annotations:
    #                 summary: A Prometheus has disappeared from Prometheus target discovery
    #               expr: absent(up{job="prometheus-prometheus"})
    #               for: 5m
    #               labels:
    #                 severity: critical

