---
# yaml-language-server: $schema=https://raw.githubusercontent.com/fluxcd-community/flux2-schemas/main/helmrepository-source-v1.json
apiVersion: source.toolkit.fluxcd.io/v1
kind: HelmRepository
metadata:
  name: authentik
  namespace: network
spec:
  interval: 15m
  url: https://charts.goauthentik.io/
  timeout: 3m
---
# yaml-language-server: $schema=https://raw.githubusercontent.com/fluxcd-community/flux2-schemas/main/helmrelease-helm-v2.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: authentik
  namespace: network
spec:
  interval: 30m
  chart:
    spec:
      chart: authentik
      version: 2025.8.1
      sourceRef:
        kind: HelmRepository
        name: authentik
        namespace: network
  install:
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3
  uninstall:
    keepHistory: false
  values:
    global:
      nodeSelector:
        kubernetes.io/arch: amd64
      image:
        repository: ghcr.io/goauthentik/server
      podAnnotations:
        secret.reloader.stakater.com/reload: &secret authentik-secret
      envFrom: &envFrom
        - secretRef:
            name: *secret
    server:
      initContainers:
        - name: init-db
          image: ghcr.io/onedr0p/postgres-init:17.4
          envFrom: *envFrom
      ingress:
        enabled: false
        # ingressClassName: internal
        # annotations:
        # #   external-dns.alpha.kubernetes.io/target: "external.${SECRET_DOMAIN}"
        #   gethomepage.dev/app: "authentik"
        #   gethomepage.dev/enabled: "true"
        #   gethomepage.dev/name: "Authentik"
        #   gethomepage.dev/description: ""
        #   gethomepage.dev/href: "https://auth.${SECRET_DOMAIN}"
        #   gethomepage.dev/group: "Kubernetes"
        #   gethomepage.dev/icon: "sh-authentik.png"
        # hosts:
        #   - &host "auth.${SECRET_DOMAIN}"
        # tls:
        #   - hosts:
        #       - *host
        #     secretName: "${SECRET_DOMAIN/./-}-production-tls"

      resources:
        requests:
          cpu: 100m
          memory: 128Mi
        limits:
          memory: 512Mi
    authentik:
      log_level: debug
      redis:
        host: dragonfly.database.svc.cluster.local
