---
# yaml-language-server: $schema=https://raw.githubusercontent.com/fluxcd-community/flux2-schemas/main/helmrepository-source-v1.json
apiVersion: source.toolkit.fluxcd.io/v1
kind: HelmRepository
metadata:
  name: piraeus
  namespace: storage
spec:
  interval: 2h
  url: https://piraeus.io/helm-charts/
---
# yaml-language-server: $schema=https://raw.githubusercontent.com/fluxcd-community/flux2-schemas/main/helmrelease-helm-v2.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: snapshot-controller
  namespace: storage
spec:
  interval: 30m
  chart:
    spec:
      chart: snapshot-controller
      version: 4.2.0
      sourceRef:
        kind: HelmRepository
        name: piraeus
        namespace: storage
  install:
    crds: CreateReplace
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    crds: CreateReplace
    remediation:
      strategy: rollback
      retries: 3
  values:
    controller:
      serviceMonitor:
        create: true

    webhook:
      enabled: false

    resources:
      requests:
        cpu: 10m
        memory: 36M
      limits:
        memory: 182M
