---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s-labs/helm-charts/refs/tags/app-template-4.2.0/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app graylog-elasticsearch
spec:
  interval: 30m
  chartRef:
    kind: OCIRepository
    name: app-template
  install:
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      strategy: uninstall
      retries: 3
  uninstall:
    keepHistory: false
  values:
    controllers:
      main:
        annotations:
          reloader.stakater.com/auto: "true"
          secret.reloader.stakater.com/reload: &secret graylog-elasticsearch
        initContainers:
          00-chown-data:
            image:
              repository: busybox
              tag: latest
            command:
              - sh
              - -c
              - |
                chown -R 1000:1000 /usr/share/elasticsearch/data
            securityContext:
              runAsUser: 0
              allowPrivilegeEscalation: true
        containers:
          main:
            image:
              # Graylog 6.2 does not support ES 8.x
              repository: elasticsearch
              tag: 9.3.1@sha256:2cc6bb7210e693c9ee96a2d37833dbd8d3edaacfc0e468d9daa04cb7a125e9a0
            resources:
              requests:
                cpu: 100m
                memory: 250Mi
              limits:
                memory: 4096Mi
            probes:
              startup:
                enabled: true
                spec:
                  failureThreshold: 30
                  periodSeconds: 5
              liveness:
                enabled: true
              readiness:
                enabled: true
            env:
              TZ: ${CONFIG_TIMEZONE}
              xpack.security.enabled: "false"
              discovery.type: "single-node"
              ES_JAVA_OPTS: "-Xms512m -Xmx512m"
              path.repo: "/usr/share/elasticsearch/data/snapshot"
            envFrom:
              - secretRef:
                  name: *secret
    service:
      main:
        controller: main
        ports:
          http:
            port: 9200
    persistence:
      config:
        existingClaim: graylog-elasticsearch
        advancedMounts:
          main:
            main:
              - path: /usr/share/elasticsearch/data
            00-chown-data:
              - path: /usr/share/elasticsearch/data
